/* Variables */
:root {
    --primary-color: #F08A4B;
    --secondary-color: #b8b8b8; 
    --light-color: #ffffff;
    --dark-color: #292929; 
}

/* General */
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    display: flex;
    justify-content: center;
    background-color: var(--dark-color);
}

/* Main */
.container {
    background-color: var(--light-color);
    width: 40%;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 5px;
}

h1 {
    color: var(--primary-color);
    font-weight: 700;
}

p {
    text-align: justify;
    color: var(--dark-color);
    margin: 2rem 0;
}

button {
    width: 50%;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Dropdown */
.dropdown {
    position: relative;
    width: 100%;
    height: 3.4rem;
}

.dropdown input {   
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.dropdown input:focus {   
    border-color: var(--primary-color);
}

.dropdown input::placeholder {   
    color: var(--dark-color);
}

.dropdown .option {   
    position: relative;
    top: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--light-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.dropdown.active .option {  
    display: block;
}

.dropdown .option div { 
    padding: 1rem;
    color: var(--dark-color);
    text-align: left;
    cursor: pointer;
}

.dropdown .option div:hover {  
    background-color: var(--primary-color);
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    /* Main */
    .container {
        width: 80%;
    }    
}

@media (max-width: 576px) {
    /* Main */
    .container {
        padding: 1rem;
    }  

    button {
       width: 100%;      
    }
}