/* Variables */
:root {
    --background: #4357AD;
    --dropdown: #48A9A6;
    --container: #E4DFDA; 
    --light: #FFFFFF;
    --dark: #292929; 
    --placeholder: #707070;
}

/* General */
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

/* Main */
.container {
    width: 50%;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--container);
    border-radius: .5rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .5);
}

/* Header */
.title {
    text-align: center;
    color: var(--background);
    font-weight: 700;
}

.description {
    text-align: justify;
    color: var(--dark);
    margin: 2rem 0;
}

/* Dropdown */
.dropdown {
    position: relative;
    width: 100%;
    height: 3.4rem;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 1.1rem;
    right: 1.5rem;
    z-index: 1000;
    width: .5rem;
    height: .5rem;    
    border: 2px solid var(--background);
    border-top: 2px solid var(--light);
    border-right: 2px solid var(--light);
    transform: rotate(-45deg);
    transition: .5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 1.5rem;
    transform: rotate(-225deg);
}

.dropdown input {   
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--light);
    color: var(--dark);
    font-size: 1rem;
    border: 2px solid var(--background);
    border-radius: .5rem;
    outline: none;
    box-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
    cursor: pointer;
}

.dropdown input:focus {   
    border-color: var(--dropdown);
}

.dropdown input::placeholder {   
    color: var(--placeholder);
}

.dropdown .option {   
    position: relative;
    top: 1rem;
    width: 100%;
    padding: .5rem;
    background-color: var(--light);
    border: 2px solid var(--dropdown);
    border-radius: .5rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    display: none;
}

.dropdown.active .option {  
    display: block;
}

.dropdown .option div { 
    padding: 1rem 1.5rem;
    color: var(--dark);
    cursor: pointer;
}

.dropdown .option div:hover {  
    background-color: var(--dropdown);
    color: var(--light);
    border-radius: .5rem;
}

.dropdown .option div ion-icon {   
    position: relative;
    top: 3px;
    font-size: 1.2rem;
    margin-right: .5rem;
}

/* Button */
.button-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 50%;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--background);
    color: var(--light);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    box-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    background-color: var(--dark);
}

/* Responsive */
@media (max-width: 768px) {
    /* Main */
    .container {
        width: 80%;
    }    
}

@media (max-width: 425px) {
    /* Main */
    .container {
        width: 100%;
        margin: 1rem;
    }   
    
    .button {
       width: 100%;      
    }
}

@media (max-width: 375px) {
    /* Main */
    .container {
        margin: .5rem;
        padding: 1rem;
    }    
}

@media (max-width: 320px) {
    /* General */
    body {
        margin-bottom: 10rem;
    }
}